form{
	color:#4d4d4d;
	font-family: Roboto Regular;
	
}
.content-signup {
    background: #f7f7f7;
    height: 800px;
}

.nhap input{
border: 1px solid #d9d9d9;
border-radius: 3px;
width: 600px;
height: 34px;
float: left;
margin: 4px 0 0 50px;
padding-left: 15px;
}
.nhap input:focus {
  background-color: #d9d9d9;
  border: 2px solid #50C7C7;
}

.template_dk label{
width: 670px;
display: inline-block;
max-width: 100%;
margin: 15px 0 0 30px;
font-weight: bold;
font-size: 15px;
}
.template_dk{
float: left;
overflow: hidden;
width: 700px;
background: #fff;
margin: 30px 30px 30px 340px;
border-radius: 5px;
box-shadow: 0px 2px 10px -5px;
}
.lienhe{
float: left;
overflow: hidden;
width: 567px;
background: #fff;
margin: 30px 30px 30px 80px;
border-radius: 5px;
box-shadow: 0px 2px 10px -5px;
}
.lienhe label{
width: 570px;
display: inline-block;
max-width: 100%;
margin: 15px 0 0 30px;
}
.template_dk2{
color: #4d4d4d;
width: 327px;
height: 106px;
background: #fff;
margin: 30px 0 0 2px;
border-radius: 5px;
box-shadow: 0px 2px 10px -5px;
float:left;
}
.da_co_tai_khoan{
font-size: 24px;
color: #4d4d4d;    
margin: 20px 0 10px 30px;
}
.dang_nhap_ngay a{
text-decoration: none;
color: #2a8fbd;
margin: 20px 0 0 30px;
}
.dangky{
width: 698px;
height: 26px;
font-size: 24px;
margin: 20px 0px 10px 30px;
border-bottom: 1px solid #FFE1E1;
padding-bottom: 6px;
}
.dangky a{
font-size: 14px;
color: #2a8fbd;
text-decoration: none;
}
.thongtin{
font-size: 24px;
width: 670px;
height: 26px;
margin: 20px 0 0 30px;
}
.nut{
    padding-left: 260px;
}
.nut input{
background: #0070bb;
color: #fff;
border-color: #0066ff;
width: 90px;
height: 30px;
border: 1px solid #d9d9d9;
border-radius: 7px;
font-weight: bold;
margin: 25px 10px;
}
